{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/juggling-trick">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data['full-name']
            },
            actions: {
              items: [
                {
                  href: "/name",
                  text: "Change",
                  visuallyHiddenText: " your name"
                }
              ]
            }
          },
          {
            key: {
              text: "Number of balls you can juggle"
            },
            value: {
              text: data['how-many-balls']
            },
            actions: {
              items: [
                {
                  href: "/juggling-balls",
                  text: "Change",
                  visuallyHiddenText: " number of balls you can juggle"
                }
              ]
            }
          },
          {
            key: {
              text: "Your most impressive juggling trick"
            },
            value: {
              text: data['most-impressive-trick']
            },
            actions: {
              items: [
                {
                  href: "/juggling-trick",
                  text: "Change",
                  visuallyHiddenText: " your most impressive juggling trick"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Now send your application</h2>

      <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
